<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">

    <title>OQG</title>

    <style>
      body {
      background-image: url(static/images/background.png);
      background-repeat: no-repeat;
      background-size: 100%;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    </style>

  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <div class="container-fluid text-center pt-3" style="color: aliceblue">
        <h1>Original Quote Generator</h1>
        
        <form id="form" action="/" method="post">
            {{ csrf_token }}
            <button id="button" class="btn btn-primary shadow-none" type="submit">
              <span id="spinner" style="display: none" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span id="button-text">Generate a quote</span>
            </button>
        </form>
    
        {% if request.method == 'POST' %}
          {% if quote_error %}
            <div class="container-fluid" style="margin-top: 20px;">
              <p>{{ quote_error }}</p>
              <p>Sorry about that</p>
            </div>
          {% else %}
            <div class="container-fluid" style="margin-top: 20px;"></div>
              <figure>
                <blockquote class="blockquote">
                  <p>{{ quote_data['quote'] }}</p>
                </blockquote>
                <figcaption class="blockquote-footer" style="color: aliceblue">
                  {{ quote_data['author'] }} in <cite title="Source Title">{{ quote_data['source'] }}</cite>
                </figcaption>
              </figure>
              
              <img src="{{ url_for('static', filename='images/final_image.jpeg') }}" alt="Image with Text">
            </div>
          {% endif %}
        {% endif %}
    </div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top" style="position: fixed; bottom: 0; width: 100%;">
      <p style="color: aliceblue; margin-left: 10px;">&copy; 2023 OQG, <a href="https://newa.fun" target="_blank" style="text-decoration: none; color: inherit;">Newa Fun</a></p>
    </footer>
  </body>

  <script>
    document.getElementById("form").addEventListener("submit", function(e) {
      e.preventDefault();
      document.getElementsByTagName("button")[0].disabled = true;
      document.getElementById("button-text").innerText = "Generating a quote...";
      document.getElementById("spinner").style.display = "inline-block";
      e.target.submit();
    })
  </script>
  
</html>